@use "sass:math";
$primary: #5C91EF;

//css函数
// /* #ifdef APP-NVUE */
// @function tovmin($rpx) {
// 	//$rpx为需要转换的字号
// 	@return #{$rpx}rpx;
	
// }
// /* #endif

// /* #ifndef APP-NVUE */
// @function tovmin($rpx) {
// 	//$rpx为需要转换的字号
// 	/* #ifdef VUE2 */
// 	@return #{math.div($rpx * 100, 750)}vmin;
// 	/* #endif */
// 	/* #ifdef VUE3 */
// 	@return #{calc($rpx * 100 / 750)}vmin;
// 	/* #endif */
// }
// /* #endif */
.sunny-video {
	position: relative;
	.banner-view {
		position: relative;
		z-index: 1;
	
		.imgPal {
			position: absolute;
			z-index: 2;
		}
	}
	.speedText {
		position: absolute;
		right: 15px;
		z-index: 5;
		padding: 5px;
		/* #ifndef APP-NVUE */
		box-sizing: border-box;
		/* #endif */
		.text {
			display: flex;
			width: 40px;
			font-size: 16px;
			color: $primary;
			text-align: center;
		}
	}
	
	.vertical {
		position: relative;
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		&.vertical-full {
			.speed-box {
				padding: 25px 0;
			}
		}
		.vertical_left{
			position: absolute;
			left: 0;
		}
		.speed-box {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			/* #ifndef APP-NVUE */
			display: flex;
			box-sizing: border-box;
			/* #endif */
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			/* #ifdef APP-NVUE */
			// v1.1.3
			padding: 10px 0;
			/* #endif */
			background-color: rgba(0, 0, 0, 0.7);
	
			.speed-text {
				width: 80px;
				text-align: center;
				font-size: 14px;
				color: #fff;
				/* #ifdef APP-NVUE */
				padding: 5px 0px;
				/* #endif */
				/* #ifndef APP-NVUE */
				// v1.1.3
				height: 30px;
				line-height: 30px;
				box-sizing: border-box;
	
				&:first-child {
					margin-top: 10px;
				}
	
				&:last-child {
					margin-bottom: 15px;
				}
	
				/* #endif */
				&.act {
					color: $primary;
					font-size: 16px;
				}
			}
		}
	}
	
	// 试看结束盒子
	.trialEndBox {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 999;
		// backdrop-filter: blur(14px);
		background-color: rgba(0, 0, 0, 0.9);
	
		.tipText {
			font-size: 14px;
			color: #fff;
		}
	
		.closeBtn {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 175px;
			height: 37.5px;
			margin: 16px 0 0;
			font-size: 15px;
			line-height: 37.5px;
			border-radius: 40px;
			color: #fff;
			text-align: center;
			background-color: $primary;
		}
	}
	
	// 位置提示
	.mplayer-toast {
		position: absolute;
		left: 10px;
		bottom: 45px;
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 2px;
		opacity: 0;
		// transition: opacity .3s;
		padding: 6px 8px;
		&.mplayer-show {
			opacity: 1;
		}
	
		.text {
			display: flex;
			align-items: center;
			color: #fff;
			font-size: 14px;
			/* #ifdef APP-PLUS */
			margin: 5px 8px 8px;
			/* #endif */
			/* #ifdef APP-NVUE */
			margin: 0;
	
			/* #endif */
			.btn_text {
				color: $primary;
				margin-left: 12px;
			}
		}
	
		.kong {
			width: 8rpx;
			height: 1px;
		}
	}
}